@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.v-bottom-navigation__content{
  background-color: #1f1e31;
}

.trend-tops-title{
  font-family: "Poppins", sans-serif;
  color: #e52a5a;
  margin: 10px 15px
}

.button-favorite{
  justify-content: start;
}

.movie-title{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #e52a5a;
}

.movie-content{
  font-family: "Poppins", sans-serif;
}

.navigation-container {
  display: flex;          /* Usa Flexbox para alinhamento */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
}

.bottom-nav {
  width: 360px !important;             /* Define a largura como 80% do contêiner */
  left: unset !important;
  border-radius: 15px;
}



